<div class="container">
  <div class="search__container">
    <h1>Popular movies</h1>
    <div class="filter__panel card">
      <div class="name">
        <h2>Sort</h2>
        <span class="icon-right" (click)="sortDropdownIsOpen = !sortDropdownIsOpen"></span>
      </div>
      <div class="filter" [class.hidden]="!sortDropdownIsOpen">
        <h3>Sort Results By</h3>
        <span>
          <select #dropDown class="dropDown" (change)="onSelectDropDown(dropDown.value)">
            <option value="popularity.desc" selected="selected">
              Popularity Descending
            </option>
            <option value="popularity.asc">
              Popularity Ascending
            </option>
            <option value="vote_average.desc">
              Rating Descending
            </option>
            <option value="vote_average.asc">
              Rating Ascending
            </option>
            <option value="primary_release_date.desc">
              Release Date Descending
            </option>
            <option value="primary_release_date.asc">
              Release Date Ascending
            </option>
            <option value="title.asc">
              Title (A-Z)
            </option>
            <option value="title.desc">
              Title (Z-A)
            </option>
          </select>
        </span>
      </div>
    </div>
    <div class="input-search">
      <input type="text" #searchText  placeholder="Search Movie by Title, Description etc."/>
    </div>
    <div class="search-button active" (click)="search(searchText.value)">
      <p>Search</p>
    </div>
  </div>
  <div class="wrapper">
    <movie *ngFor="let movie of moviesList" [data]="movie">
    </movie>
  </div>
</div>