.card__wrapper > img {
  width: 175px;
  height: 265px;
}

h2 {
  font-weight: 700;
  color: #000;
  font-size: 1em;
}

.card__wrapper {
  width: 175px;
  height: 370px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

span {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.6);
}